.body {
    background-color: rgba(128, 128, 128, 0.171);
}

.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin: 50px auto;

    
    .mobil {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;

        @media (min-width: 641px) {
            display: none;
        }


        .buttonMobil {
            color: hwb(198 22% 33% / 0.986);
            border: none;
            background-color: hwb(198 69% 11% / 0);
            cursor: pointer;
            transition: transform 400ms linear;

            &:hover {
                transform: scale(1.2);
            }
        }
        .icon {
            height: 25px;
            width: 25px;
            transition: transform 400ms linear;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            
        }
        .hotelMob{
            transition: transform 400ms linear;
            &:hover {
                transform: scale(2);
            }

            @media (max-width: 300px){
                height: 100px;
                width: 150px;
                transition: transform 400ms linear;
                &:hover {
                    transform: scale(1.1);
                }
            }

        }
        .reviews {
          
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            
        }
        
     
        
       
        
    } 
  

    &__title {
        font-size: 50px;
        text-align: center;
        color: hwb(198 4% 41% / 0.699);
        font-weight: 700;

        @media (max-width: 300px){
            font-size: 40px;
        }


    }
    &__reviewsWindow {
        background-color: white;
        box-sizing: content-box;
        border: 1px solid rgb(231, 228, 228);
        border-radius: 8px;
        box-shadow: 3px 3px 3px hwb(200 54% 39% / 0.288);
        background: linear-gradient(
            to right,
            hwb(198 23% 32% / 0.699) 3%,
            hsla(0, 0%, 98%, 0.212) 90%
        );
    }
    &__fotoBox {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        box-sizing: content-box;
        justify-content: space-around;

        @media (max-width: 640px) {
            display: none;
        }

        &__Hotel {
            height: 150px;
            width: 200px;
            margin: 15px 5px;
            border-radius: 5px;
            transition: transform 400ms linear;
            cursor: pointer;

            &:hover {
                transform: scale(3);
            }
        }
    }

    &__nameHotel {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 10px;
        color: hwb(198 3% 91% / 0.699);
        font-weight: 600;
        font-size: 25px;

        @media (max-width: 300px){
           
            font-size: 15px;
            margin: 10 10px;
          
        }

        &__star {
            height: 30px;
            width: 30px;
        }
        @media (max-width: 300px){
            height: 20px;
            width: 20px;
           
        }


    }

    .reviews {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        box-sizing: content-box;

        .foto {
            display: flex;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            object-fit: cover;

            @media (max-width: 300px){
                height: 75px;
                width: 75px;
            }
        }

        .name {
            color: hwb(198 3% 91% / 0.699);
            font-size: 20px;
            margin: 5px;
        }

        .textReview {
           
            color: hwb(198 3% 91% / 0.699);
            padding: 5px 80px;
            font-size: 20px;
            text-align: justify;

            @media (max-width: 300px){
                font-size: 15px;
                padding: 5px 50px;
               
            }
            @media (max-width: 420px){
                font-size: 15px;
                padding: 5px 50px;
               
            }
        }
        .icon {
            height: 25px;
            width: 25px;
            transition: transform 400ms linear;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            @media (max-width: 300px){
                height: 15px;
                width: 15px;
                transition: transform 400ms linear;
                cursor: pointer;
    
                &:hover {
                    transform: scale(1);
                } 
            }
        }

        .button {
            margin-bottom: 20px;
            border-radius: 8px;
            font-size: 15px;
            font-weight: 400;
            color: hwb(198 22% 33% / 0.986);
            border: none;
            background-color: hwb(198 69% 11% / 0);
            cursor: pointer;
            transition: transform 400ms linear;

            &:hover {
                transform: scale(1.2);
            }
        }
        .activ{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }
}


.carous {
    display: none;
}
.carous:first-child {
    display: block;
}
 
.mobilSlid {
    display: none;
}
.mobilSlid:first-child {
    display: block;
}